body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: skyblue;
}
* {
  box-sizing: border-box;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  
}
form {
  width: 100%;
  margin: 0 auto;
  background-color: white;
  padding: 18px;
  border-radius: 5px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
h2 {
  color: #262626;
}
button{
  width: 100%;
  padding: 11px;
  background-color: skyblue;
  color: white;
  border: none;
  font-size: 1.2rem;
}
button:hover{
  color: black;
  cursor: pointer;
}